<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^$ /timeline/index.py
RewriteRule ^(level.xml)$ /timeline/level.py
</IfModule>

<FilesMatch ".*\.py">
Options ExecCGI FollowSymLinks
Order allow,deny
Allow from all
</FilesMatch>

AddHandler wsgi-script .py
